.root {
    background: rgba(32, 34, 37, 0.85);
    box-shadow: var(--primary-box-shadow-color);
    backdrop-filter: blur(5px)
}

.navbar { 
    // background: var(--background-color);
    background: transparent;
    max-width: 1600px;
    width: 100%;
    height: 60px;
    padding: 0 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_header {
        display: flex;
        align-items: center;
    }
}
