:root[data-theme='light'] {
    --primary-color: #333;
    --primary-heading-color: #091e42;

    --primary-box-shadow-color: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);

    --container-max-width: 1600px;

    --primary-gradient: linear-gradient(
        90deg,
        #12c2e9 0%,
        #c471ed 52.08%,
        #f64f59 100%
    );
}
